/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', 'Roboto', 'Poppins', sans-serif;
  height: 100%;
}

/* Contenedor principal */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

